
body {
    margin: 0;
  padding: 0;
  background: #154367;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ball {
  width: 50px;
  border-top: 25px solid rgb(134, 3, 221);
  border-bottom: 25px solid rgb(8, 12, 248);
  border-radius: 50%;
  animation: bounse 1s linear infinite;
  box-shadow: 0 0 10px #0031ff, 0 0 10px #0031ff, 0 0 10px #0031ff,
    0 0 10px #0031ff, 0 0 10px #0031ff;

}
.shadow{
    position: absolute;
    top: 50px;
    left: 0;
    width: 50px;
    height: 10px;
    background: #262626;
    border-radius: 50%;
    opacity: .8;
    animation: shadow 1s  linear infinite;
}
@keyframes bounse{
    0% {
        transform: translateY(0%) rotate(0deg);
    }
    50% {
        transform: translateY(-200%) rotate(100deg);

    }
    100%{
        transform: translateY(0) rotate(0deg);
    }
}
@keyframes shadow{
0%{
    transform: scale(1);
    opacity: .8;

}
50%{
    transform: scale(.4);
    opacity: .3;

}
100%{
    transform: scale(1);
    opacity: .8;
}
}
